.btn-bar {
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: space-around;

    button {
        color: ghostwhite;
        font-weight: bolder;
        cursor: pointer;
        padding: 20px;
    }

    .btn-line {
        background-color: forestgreen;
    }

    .btn-fb {
        background-color: #3578E5;
    }
}
